/* Container styling */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 58.5px);
}

/* Style for input fields */
.login-form input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 0;
  border: 2px solid #ccc;
  width: 50%;
}

/* Style for the login button */
.login-form .tertiary-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.login-form .tertiary-button:hover{
  text-decoration: underline;
}

.login-form .primary-button{
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 0;
  cursor: pointer;
  padding: 6px 14px;
  font-size: 16px;
  margin-top: 10px;
}



/* Error message styling */
.login-form p {
  color: #ff0000;
  margin-top: 20px;
}
